/* Mobile responsiveness */

/* Large tablets */
@media screen and (max-width: 500px) {
  #timerApp {
    transform: translate(-50%, -50%) scale(1.1);
  }
  #deco-ears {
    width: 433px; /* 394 * 1.1 */
    transform: translate(-50%, calc(-50% - 189px)); /* 172 * 1.1 */
  }
  #deco-tag {
    transform: translate(-50%, calc(-50% - 177px)); /* 155 * 1.1 + 6 */
  }
}

/* Small tablets */
@media screen and (max-width: 450px) {
  #timerApp {
    transform: translate(-50%, -50%) scale(1);
  }
  #deco-ears {
    width: 394px; /* 394 * 1.0 */
    transform: translate(-50%, calc(-50% - 172px)); /* 172 * 1.0 */
  }
  #deco-tag {
    transform: translate(-50%, calc(-50% - 161px)); /* 155 * 1.0 + 6 */
  }
}

/* Large phones */
@media screen and (max-width: 400px) {
  #timerApp {
    transform: translate(-50%, -50%) scale(0.9);
  }
  #deco-ears {
    width: 355px; /* 394 * 0.9 */
    transform: translate(-50%, calc(-50% - 155px)); /* 172 * 0.9 */
  }
  #deco-tag {
    transform: translate(-50%, calc(-50% - 146px)); /* 155 * 0.9 + 6 */
  }
}

/* Standard phones */
@media screen and (max-width: 375px) {
  #timerApp {
    transform: translate(-50%, -50%) scale(0.8);
  }
  #deco-ears {
    width: 315px; /* 394 * 0.8 */
    transform: translate(-50%, calc(-50% - 138px)); /* 172 * 0.8 */
  }
  #deco-tag {
    transform: translate(-50%, calc(-50% - 130px)); /* 155 * 0.8 + 6 */
  }
}

/* Small phones */
@media screen and (max-width: 320px) {
  #timerApp {
    transform: translate(-50%, -50%) scale(0.7);
  }
  #deco-ears {
    width: 276px; /* 394 * 0.7 */
    transform: translate(-50%, calc(-50% - 120px)); /* 172 * 0.7 */
  }
  #deco-tag {
    transform: translate(-50%, calc(-50% - 115px)); /* 155 * 0.7 + 6 */
  }
}
